<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dokmee</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/imgs/mini-logo.ico" />

    <link type="text/css" href="~/Content/styles/dokstyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <link href="~/Content/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet" />
    <link href="~/Content/plugins/iCheck/skins/all.css" rel="stylesheet" />
    <link href="~/Content/external/font-awesome.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link href="~/Content/external/bootstrap-select.min.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("~/Views/Home/_loadingOverlay.cshtml")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img src='@Url.Content("~/Content/imgs/dokmee-logo.jpg")' class="logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Select Cabinet", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-left: 0px; padding-right: 0px;">
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/plugins/iCheck/icheck.js"></script>
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Content/external/bootstrap-select.min.js"></script>
    <script src="~/Content/external/bootstrap-select.min.js"></script>

    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="~/Content/external/promise-polyfill.js"></script>
    <script src="~/Content/external/polyfill.min.js"></script>
    <script src="~/Content/plugins/sweetalert2/sweetalert2.all.min.js"></script>

    @*<script src="~/Content/external/promise-polyfill.js"></script>*@
    <script src="~/Scripts/home/detail.js"></script>

</body>
</html>
