@using System.Activities.Statements
@using Dokmee.Dms.Advanced.WebAccess.Data
@using Services
@using Services.ConfiguraionService
@using Web.ViewModels.Elements
@model Web.ViewModels.Home.SearchModel
@{
    ViewBag.Title = "Search File";
    var configuration = new ConfigurationService();
}

@Html.Partial("_loadingOverlay")
<input type="hidden" id="cabinet-id" value="@Model.CabinetId" />
<section>
    <div class="my-box box-header-boder">
        <div class="box-header">
            <form action="Search" method="post" id="search-form">
                @Html.HiddenFor(model => model.CabinetId)
                <h3>Search Files</h3>
                <!-- Start Select Index -->
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="pull-right control-label custom-control-lable">Index</label>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control selectpicker" id="search-select-index">
                                @foreach (var index in Model.TableTitles)
                                {
                                    <option value="@index.Id" @(!string.IsNullOrWhiteSpace(index.ValueString) ? "selected" : "")>
                                        @index.Title.ToUpper()
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-4">
                            @foreach (var index in Model.TableTitles)
                            {
                                int i = Model.TableTitles.IndexOf(index);
                                <div class="index-select-input-div" id="div-search-input-@index.Id" style="display:none;">
                                    <input type="hidden" name="TableTitles[@i].Id" value="@index.Id" />
                                    <input type="hidden" name="TableTitles[@i].Title" value="@index.Title" />
                                    <input type="hidden" name="TableTitles[@i].Order" value="@index.Order" />
                                    <input type="hidden" name="TableTitles[@i].Type" value="@index.Type" />

                                    @if (string.Equals(index.Title.ToUpper(), configuration.CustomerStatusIndex.ToUpper()))
                                    {
                                        DocumentStatusSelectModel docStatusModel = new DocumentStatusSelectModel()
                                        {
                                            ElementId = "search-index-" + index.Id,
                                            ElementClass = "index-select-input",
                                            SelectedValue = index.ValueString,
                                            ElementName = "TableTitles[" + i + "].Value",
                                        };

                                        @Html.Partial(Url.Content("~/Views/Partials/_DocumetStatusSelection.cshtml"), docStatusModel)
                                    }
                                        else
                                        {
                                            switch (index.Type)
                                            {
                                                case IndexValueType.Integer:
                                                case IndexValueType.Float:
                                                <input type="number" class="form-control index-select-input" step="0.00001"
                                                       id="search-index-@index.Id" placeholder="@index.Title"
                                                       name="TableTitles[@i].Value"
                                                       value="@index.ValueString" />
                                                break;

                                            case IndexValueType.DateTime:
                                                <input type="date" class="form-control index-select-input"
                                                       id="search-index-@index.Id" placeholder="@index.Title"
                                                       name="TableTitles[@i].Value"
                                                       value="@index.ValueString" />
                                                break;

                                            case IndexValueType.String:
                                                <input type="text" class="form-control index-select-input"
                                                       id="search-index-@index.Id" placeholder="@index.Title"
                                                       name="TableTitles[@i].Value"
                                                       value="@index.ValueString" />
                                                break;
                                        }
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary pull-right">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                        <br />
                    </div>

                </div>
                <!-- End Select Index -->
            </form>
        </div>
        <hr />
        <div class="box-body">
            @{
                DocumentItemListModel listIitems = new DocumentItemListModel()
                {
                    DocumentItems = Model.DocumentItems,
                    TableTitles = Model.TableTitles,
                    CabinetId = Model.CabinetId
                };
                Html.RenderPartial(Url.Content("~/Views/Partials/_DocumentItemListPartial.cshtml"), listIitems);
            }
        </div>
        <div class="box-footer">

        </div>
    </div>
</section>

@section styles{

}
@section scripts
{
    <script src="~/Scripts/home/_document-item-list.js"></script>
    <script src="~/Scripts/home/search.js"></script>
}


