@using System.Activities.Statements
@using Dokmee.Dms.Advanced.WebAccess.Data
@model Web.ViewModels.Home.SearchModel
@{
    ViewBag.Title = "Search";
}

@Html.Partial("_loadingOverlay")
<section>
    <div class="col-md-12">
        <div class="my-box box-header-boder">
            <div class="box-header">
                <h3>Search</h3>

                <form action="Search" method="post">
                    @Html.HiddenFor(model => model.CabinetId)


                    <div class="row">

                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="pull-right">Index</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" id="search-select-index" @*name="TableTitles[0].Value*@ ">
                                    @foreach (var index in Model.TableTitles)
                                    {
                                        <option value="@index.Id" @(index == Model.TableTitles.First() ? "selected" : "")>
                                            @index.Title
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                @foreach (var index in Model.TableTitles)
                                {
                                    int i = Model.TableTitles.IndexOf(index);
                                    <input type="hidden" name="TableTitles[@i].Id" value="@index.Id" />
                                    <input type="hidden" name="TableTitles[@i].Title" value="@index.Title" />
                                    <input type="hidden" name="TableTitles[@i].Order" value="@index.Order" />
                                    <input type="hidden" name="TableTitles[@i].Type" value="@index.Type" />
                                    switch (index.Type)
                                    {
                                        case IndexValueType.Integer:
                                        case IndexValueType.Float:
                                            <input type="number" class="form-control index-select-input" style="display: none;"
                                                   value="@index.Value" id="search-index-@index.Id" placeholder="@index.Title"
                                                   name="TableTitles[@i].Value" />
                                            break;

                                        case IndexValueType.DateTime:
                                            <input type="date" class="form-control index-select-input" style="display: none;"
                                                   value="@index.Value" id="search-index-@index.Id" placeholder="@index.Title"
                                                   name="TableTitles[@i].Value" />
                                            break;

                                        case IndexValueType.String:
                                            <input type="text" class="form-control index-select-input" style="display: none;"
                                                   value="@index.Value" id="search-index-@index.Id" placeholder="@index.Title"
                                                   name="TableTitles[@i].Value" />
                                            break;
                                    }

                                }
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-default pull-left" onclick="onAddSearchConditionClick()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                            <br />
                        </div>
                    </div>
                </form>

            </div>
            <hr />
            <div class="box-body">
                <table class="table" id="tblfileSystems">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" name="all" id="checkbox-all">
                            </th>
                            <th>EXT</th>
                            <th>Title</th>

                            @foreach (var head in Model.TableTitles)
                            {
                                <th>@head.Title</th>
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.DocumentItems.Any())
                        {
                            foreach (var doc in Model.DocumentItems)
                            {
                                <tr nodeId="@doc.Id">
                                    <td>
                                        <div class="icheckbox">
                                            <input type="checkbox" id="checkbox" class="select-doc-item">
                                        </div>
                                    </td>
                                    <td onclick="preview('@Model.CabinetId','@doc.Id')">
                                        @Html.Partial("_itemIcon", doc.Type)
                                    </td>

                                    @if (doc.Indexs.Any())
                                    {
                                        foreach (var index in doc.Indexs)
                                        {
                                            <td>@index.Value</td>
                                        }
                                    }

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="@(2+Model.DocumentItems.Count)">
                                    <strong>No document found!</strong>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</section>

@section styles{

}
@section scripts
{
    <script src="~/Scripts/home/search.js"></script>
}


